@import url("https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
body {
  background-color: #000000;
}
#wrap {
  width: 100vw;
  height: 100vh;
}
#wrap header {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
#logo {
  color: #fff;

  font-family: "wanted-sans";
  font-weight: bold;
  font-size: 2rem;
}
.myInfo {
  width: 815px;
  color: #fff;
  margin-top: 40px;
  text-align: right;
  position: relative;
  right: 5px;
}
.myInfo p {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 10rem;
  font-weight: 500;
  line-height: 9rem;
  letter-spacing: -14px;
}
main {
  height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}
.mainBox {
  width: 100vw;
  height: 820px;
  display: flex;
  position: relative;
  justify-content: center;
}
.mainImgBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: auto;
}
.mainImgBox img {
  width: 400px;
  height: 400px;
  position: relative;
}

.mainImgBox .infoImg {
  color: #ffffff;
  font-size: 1rem;
  width: 100px;
  height: 80px;
  text-align: center;
  position: absolute;
}
.mainBox .mainImgBox .img1 {
  left: 648px;
  top: 30px;

  transform: rotate(195deg);
}
.mainBox .mainImgBox .img2 {
  top: 518px;
  right: 289px;
  transform: rotate(16deg);
}
.mainImgBox .infoImg2 {
  right: 55px;
  transition: all 4s ease-in-out;
  animation: doganimation 3s linear infinite running;
  z-index: 3;
}
.mainTextBox {
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  position: relative;
  right: 70px;
}
.infoText {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  right: 40px;
}
.infoText p {
  color: #ffffff;
}

/* mainImg img 회전시키기 */

@keyframes Rotation {
  0% {
    transform: rotateX("angle");
  }
  50% {
    top: 120px;
  }
  100% {
    top: 20px;
  }
}

#about {
  width: 100vw;
  height: auto;
  color: #ffffff;

  display: flex;
  align-items: center;
  flex-direction: column;
}
#about div {
  display: flex;
  width: auto;
  height: auto;
  position: relative;
}
#about .marquee-content {
  padding: 85px 0 25px 0;
  justify-content: space-between;
  border-top: 1px solid #ffffff;
  letter-spacing: -7px;

  top: 0;
}

#about .marquee-content span {
  display: block;
  font-size: 8rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 708px;
  animation: marqueeRight 8s linear infinite running;
  text-align: center;
  border-top: none;
}
#about div:not(.marquee-content) {
  width: auto;
  border-bottom: 1px solid #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 115px;
}
#about div:not(.marquee-content) span {
  width: 305px;
  height: 65px;
  font-size: 3.5rem;
  margin: 10px 20px;
  font-weight: 700;
}

/* myName css */
#about .myName .jp {
  width: 430px;
}
#about .myName .et {
  width: 220px;
}
#about .myName .er {
  width: 200px;
}
#about .myName .ko {
  width: 200px;
  border: 5px solid #ffffff;
  border-radius: 48%;
  padding: 10px 20px;
}
#about .myName .en {
  border: 5px solid #ffffff;
  border-radius: 48%;
  padding: 10px 20px;
}

/* skills css */
main #about .skills span {
  width: 160px;
  text-align: center;
}

main #about .skills .js {
  width: 320px;
  border: 4px solid #ffffff;
  border-radius: 48%;
  padding: 10px 20px;
}
main #about .skills .photo {
  width: 295px;
}
main #about .skills .ill {
  width: 215px;
}
main #about .skills .git {
  width: 195px;
}
main #about .skills .react {
  border: 4px solid #ffffff;
  border-radius: 48%;
  padding: 10px 20px;
}
main #about .skills .css {
  width: 110px;
}
@keyframes marqueeLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes marqueeRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes doganimation {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(40px, 50px, 0px);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

/* nature css */
main #about .nature span {
  width: 205px;
}
main #about .nature span.na1 {
  width: 360px;
  border: 4px solid #ffffff;
  border-radius: 48%;
  padding: 10px 20px;
}
main #about .nature span.na2 {
  width: 225px;
}
main #about .nature span.na3 {
  width: 367px;
  border: 4px solid #ffffff;
  border-radius: 48%;
  padding: 10px 20px;
}
main #about .nature span.na4 {
  width: 230px;
}
