@import url("https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");
body {
  background-color: #000000;
}
#wrap {
  width: 100vw;
  height: 100vh;
}
#wrap header {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
#logo {
  color: #fff;

  font-family: "wanted-sans";
  font-weight: bold;
  font-size: 2rem;
}
.myInfo {
  width: 740px;
  color: #fff;
  font-family: "wanted-sans";
  font-size: 9rem;
  font-weight: 900;
  line-height: 8.5rem;
  margin-top: 40px;
  text-align: right;
  position: relative;
  right: 5px;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.mainBox {
  width: 400px;
  height: 100vh;
}
.mainImgBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.mainImgBox img {
  width: 500px;
  height: 500px;
  position: relative;
  top: 210px;
  /* animation: rotate 10s infinite linear; */
}
.mainImgBox .infoImg {
  color: #ffffff;
  font-size: 1rem;
  width: 280px;
  height: 282px;
  text-align: center;
  position: relative;
  top: 0px;

  animation: Rotation 5s infinite ease;
}
.mainTextBox {
  display: flex;
  height: 80vh;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}
.infoText {
  color: #ffffff;
  width: 400px;
}

/* mainImg img 회전시키기 */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes Rotation {
  0% {
    top: 80px;
  }
  50% {
    top: 150px;
  }
  100% {
    top: 80px;
  }
}
